<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding background-image">
  <!-- Formulario para verificar usuario -->
  <form [formGroup]="resetForm" (ngSubmit)="verificarUsuario()" *ngIf="!usuarioVerificado">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input formControlName="usuario" type="text"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="resetForm.get('usuario')?.invalid && resetForm.get('usuario')?.touched">
      <p class="error-text">El nombre de usuario es requerido y debe tener entre 3 y 8 caracteres.</p>
    </ion-text>
    <ion-button expand="full" type="submit" [disabled]="resetForm.get('usuario')?.invalid">Verificar Usuario</ion-button>
  </form>

  <!-- Formulario para cambiar contraseña (visible solo si el usuario está verificado) -->
  <form [formGroup]="resetForm" (ngSubmit)="guardarNuevaPassword()" *ngIf="usuarioVerificado">
    <div class="password-fields">
      <ion-item class="input-item">
        <ion-label position="floating"></ion-label>
        <ion-input
          type="password"
          formControlName="nuevaPassword"
          placeholder="Nueva Contraseña"
          required
          autocomplete="new-password">
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="resetForm.get('nuevaPassword')?.invalid && resetForm.get('nuevaPassword')?.touched">
        <p class="error-text">La contraseña debe tener al menos 4 caracteres.</p>
      </ion-text>

      <ion-item class="input-item">
        <ion-label position="floating"></ion-label>
        <ion-input
          type="password"
          formControlName="confirmacionPassword"
          placeholder="Confirmar Contraseña"
          required
          autocomplete="new-password">
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="resetForm.get('confirmacionPassword')?.invalid && resetForm.get('confirmacionPassword')?.touched">
        <p class="error-text">La confirmación de contraseña es requerida.</p>
      </ion-text>
      <ion-text color="danger" *ngIf="resetForm.hasError('passwordMismatch') && resetForm.get('confirmacionPassword')?.touched">
        <p class="error-text">Las contraseñas no coinciden.</p>
      </ion-text>

      <ion-button
        expand="full"
        size="large"
        shape="round"
        color="primary"
        type="submit"
        [disabled]="resetForm.invalid || resetForm.hasError('passwordMismatch')"
        class="action-button">
        Confirmar Nueva Contraseña
      </ion-button>
    </div>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <!-- Botón para "volver" -->
        <ion-tab-button tab="volver" (click)="dismissModal()">
          <ion-icon name="arrow-back-outline"></ion-icon>
          <ion-label>Volver</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
